<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderHomeController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.RenderHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderBirdController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.RenderBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderBirdDetailsController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.RenderBirdDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformationController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.UpdateInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewBirdController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.AddNewBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderNewBirdNestController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.RenderNewBirdNestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderOrderItemsController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.RenderOrderItemsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.UpdateOrderStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderCustomerOrderController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.RenderCustomerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderCustomerOrderItemController</servlet-name>
        <servlet-class>swp391.birdfarmshop.controller.RenderCustomerOrderItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderHomeController</servlet-name>
        <url-pattern>/RenderHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderBirdController</servlet-name>
        <url-pattern>/RenderBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderBirdDetailsController</servlet-name>
        <url-pattern>/RenderBirdDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformationController</servlet-name>
        <url-pattern>/UpdateInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewBirdController</servlet-name>
        <url-pattern>/AddNewBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderNewBirdNestController</servlet-name>
        <url-pattern>/RenderNewBirdNestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderOrderItemsController</servlet-name>
        <url-pattern>/RenderOrderItemsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusController</servlet-name>
        <url-pattern>/UpdateOrderStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderCustomerOrderController</servlet-name>
        <url-pattern>/RenderCustomerOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderCustomerOrderItemController</servlet-name>
        <url-pattern>/RenderCustomerOrderItemController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>RenderHomeController</welcome-file>
    </welcome-file-list>
</web-app>
